# =====================================
# Python
# =====================================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# =====================================
# OS
# =====================================
.DS_Store
Thumbs.db

# =====================================
# Databases
# =====================================
database/
*.db
*.sqlite
*.sqlite3

# =====================================
# Raw & cleaned data
# =====================================
data_raw/*.csv
data_clean/*.csv

# =====================================
# Generated outputs
# =====================================
analysis/*.csv
analysis/*.png

# =====================================
# Logs
# =====================================
*.log

# =====================================
# IDE
# =====================================
.vscode/
.idea/